// Put your scss code here
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    vertical-align: top;
}

#bluemov {
    width:100%;
    position: absolute;
    top: inherit;
    left: 0;
    z-index: -1;
}

.slide-container {
    align-content: center;
    width: 30%;
    margin: 0 auto;
}

.slide {
    width: 100%;
    display: none;
}

.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;    
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4; transform: translateX(-100px);}
  to {opacity: 1; transform: translateX(0);}
}

@keyframes fade {
  from {opacity: .4;transform: translateX(-100px);}
  to {opacity: 1;transform: translateX(0px);}
}

#intro {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #FAFAFA;

}

#nike {
    margin: 0 auto;
    width: auto;
    height: inherit;
}

#navbar {
    width: 100%;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.4s;
    background-color: #FFFFFF;  
}

#navbar #logo {
    float: left;
    font-size: 30px;
    padding-left:8%;
    color: #E1F4F3;
    font-style:oblique;
    text-shadow: 4px 0 #F4F4F4;
    transition: 0.4s;
    font-family: monospace;
}

#navbar a {
    text-align: center;
    border-radius: 3px;
    padding: 11px;
    font-size: 15px;
    color: red;
    font-weight: 1000;
    font-family: monospace;
    text-decoration:none;
}

#navbar-right a:hover {
    background-color: #F4F4F4;
    cursor: pointer;
}

#navbar-right a.active {
    background-color: dodgerblue;
    color: black;
}

#navbar-right {
    padding-right: 8%;
    float: right;
    padding-top: 15px;
}

.sticky {
    position: fixed;
    resize:both;
    top: 0;
}

.section {
    overflow: hidden;
    width: 100%;
    text-align: center;
//    justify-content: center;
}

#s1 {
    color:aqua;
    font-family:monospace;
    padding-bottom: 40px;
    height: auto;
}

.ps4 {
    width: 100%;
}

#s2 {
    background-color:#FFFDF6;
    height: 1000px;
    align-content: center;
}

#s2 h1{
    font-family: monospace;
    color: red;
    padding: 40px;
}

#symbol {
    font-size: 300px;
}

#s2 img {
    display: inline-block;
    vertical-align: middle;
}

#rabbit1 {
    width: 30%;
    height: auto;
}

#rabbit2 {
    width: 30%;
    height: auto;
}

#rabbit3 {
    width: 30%;
    height: auto;
}

#fixBack {
    width: inherit;
    height:auto;
    text-align: center;
    overflow: hidden;
//    justify-content: center;
    align-content: center;
    background-image: url("./assets/zodiac-rabbit.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#fixBack a{
    color: white;
}

#s3 {
    background-color: black;
    color: white;
    height: 1000px;
}

.grid-container {
    width:50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px;
    grid-gap: 10%;
    justify-content: center;
}

.item {
    border: 0.25rem solid yellow;
    border-radius: 0.5rem;
    display: flex;
    overflow:hidden;
    justify-content: center;
    align-items: center;
}

.item1 {
    grid-row: 1/1;
    grid-column: 1/1;
}



.preview {
    object-fit: cover;
    max-height: 150px;
    overflow:hidden;

}

.modal {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    display: none;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 50%;
}

.modal img {
    max-width:80%;
}

.item:hover {
    cursor:pointer;
}

.peacelogo {
    margin-top: 30px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight:bold;
}

.close:hover, close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

#footer {
    height: 400px;
    color: white;
    text-align: center;
    font-family:monospace;
    background-color:#494949;
}

#footer h1{
    padding-top: 40px;
}

#footer p {
    padding-left: 10%;
    padding-right: 10%;
}

.container {
    padding-top: 30px;
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-width: 30%;
}

.container i {
    
}